  <div class="section-header illustration-header">
    <div class="container w-container">
      <h1 class="heading-6">Illustration</h1>
    </div>
  </div>
  <div class="section">
    <div class="w-container">
      <div class="text-block w-richtext">
        <h3>
          {% if page.lang == 'en' %}
          {{ site.ill-heading-en }}
          {% elsif page.lang == 'de' %}
          {{ site.ill-heading-de }}
          {% elsif page.lang == 'gr' %}
          {{ site.ill-heading-gr }}
          {% endif %}
        </h3>
      </div>
      <a href="https://www.instagram.com/brechdaslicht/" target="_blank" class="w-inline-block">
        <div class="button button-insta">
          <div class="fa-icon fa-left"></div>
          <div class="button-text">
          {% if page.lang == 'en' %}
          Follow me on Instagram
          {% elsif page.lang == 'de' %}
          Mir auf Instagram folgen
          {% elsif page.lang == 'gr' %}
          Ακολουθήστε με στο Instagram
          {% endif %}
          </div>
        </div>
      </a>
    </div>
  </div>

  <!-- 1st Secion START -->
  <div class="section">
    <div class="w-container">
      <h2>Monochrome</h2>

      
      <div class="photo-wrapper">
      <!-- FANCYBOX START -->
      <a href="/images/header-girl.jpg" data-fancybox="monochrome" data-caption="Looking up">
        <img src="/images/header-girl-p-500.jpeg" class="portfolio-img" alt="digital sketch of girl looking up" />
      </a>
      <!-- FANCYBOX END -->
      <!-- FANCYBOX START -->
      <a href="{{ art.full }}" data-fancybox="monochrome" data-caption="Looking up">
        <img src="/images/header-girl-p-500.jpeg" class="portfolio-img" alt="digital sketch of girl looking up" />
      </a>
      <!-- FANCYBOX END -->
      <!-- FANCYBOX AUTO START -->
      {% for art in site.data.arts %}
      <a href="{{ art.full }}" data-fancybox="monochrome" data-caption="{{ art.caption }}">
        <img src="{{ art.thumb }}" class="portfolio-img" alt="{{ art.alt }}" />
      </a>
      {% endfor %}
      <!-- FANCYBOX AUTO END -->

        <!-- WF LIGHTBOX START -->


<a href="#" class="w-inline-block w-lightbox"><img src="/images/bnw---covered-mouth-boy.PNG" srcset="/images/bnw---covered-mouth-boy-p-500.png 500w, /images/bnw---covered-mouth-boy-p-800.png 800w, /images/bnw---covered-mouth-boy-p-1080.png 1080w, /images/bnw---covered-mouth-boy.PNG 1668w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 249px, 225px" alt="" class="portfolio-img"><script type="application/json" class="w-json">{
  "items": [
    {
      "width": 1668,
      "caption": "",
      "height": 2224,
      "fileName": "bnw - covered mouth boy.PNG",
      "origFileName": "bnw - covered mouth boy.PNG",
      "url": "/images/bnw---covered-mouth-boy.PNG",
      "_id": "5c4c56b47516955dbd64fec9",
      "type": "image",
      "fileSize": 489417
    }
  ],
  "group": "illustration"
}</script></a><a href="#" class="w-inline-block w-lightbox"><img src="/images/bnw---give-up.png" srcset="/images/bnw---give-up-p-500.png 500w, /images/bnw---give-up.png 772w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 332px, 300px" alt="" class="portfolio-img"><script type="application/json" class="w-json">{
  "items": [
    {
      "type": "image",
      "_id": "5c464b6ad9d64a3aec2ac89e",
      "fileName": "bnw - give up.png",
      "origFileName": "bnw - give up.png",
      "width": 772,
      "height": 772,
      "fileSize": 204096,
      "url": "/images/bnw---give-up.png"
    }
  ],
  "group": "illustration"
}</script></a><a href="#" class="w-inline-block w-lightbox"><img src="/images/bnw---icarus.jpg" srcset="/images/bnw---icarus-p-500.jpeg 500w, /images/bnw---icarus-p-800.jpeg 800w, /images/bnw---icarus-p-1080.jpeg 1080w, /images/bnw---icarus-p-1600.jpeg 1600w, /images/bnw---icarus-p-2000.jpeg 2000w, /images/bnw---icarus-p-2600.jpeg 2600w, /images/bnw---icarus.jpg 2732w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 442px, 400px" alt="" class="portfolio-img"><script type="application/json" class="w-json">{
  "items": [
    {
      "width": 2732,
      "caption": "",
      "height": 2048,
      "fileName": "bnw - icarus.jpg",
      "origFileName": "bnw - icarus.jpg",
      "url": "/images/bnw---icarus.jpg",
      "_id": "5cd71019cbc64fe68be6173a",
      "type": "image",
      "fileSize": 758109
    }
  ],
  "group": "illustration"
}</script></a><a href="#" class="w-inline-block w-lightbox"><img src="/images/bnw---Inuyasha.jpg" srcset="/images/bnw---Inuyasha-p-500.jpeg 500w, /images/bnw---Inuyasha-p-800.jpeg 800w, /images/bnw---Inuyasha-p-1080.jpeg 1080w, /images/bnw---Inuyasha.jpg 1100w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 272px, 246px" alt="" class="portfolio-img"><script type="application/json" class="w-json">{
  "items": [
    {
      "type": "image",
      "_id": "5c464b66a0f94e1c18ff5f54",
      "fileName": "5c464b66a0f94e1c18ff5f54_bnw - Inuyasha.jpg",
      "origFileName": "bnw - Inuyasha.jpg",
      "width": 1100,
      "height": 1342,
      "fileSize": 105370,
      "url": "/images/bnw---Inuyasha.jpg"
    }
  ],
  "group": "illustration"
}</script></a><a href="#" class="w-inline-block w-lightbox"><img src="/images/bnw---neck.png" srcset="/images/bnw---neck-p-500.png 500w, /images/bnw---neck.png 772w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 332px, 300px" alt="" class="portfolio-img"><script type="application/json" class="w-json">{
  "items": [
    {
      "type": "image",
      "_id": "5c4651abd9d64a39962b086e",
      "fileName": "bnw - neck.png",
      "origFileName": "bnw - neck.png",
      "width": 772,
      "height": 772,
      "fileSize": 248792,
      "url": "/images/bnw---neck.png"
    }
  ],
  "group": "illustration"
}</script></a><a href="#" class="w-inline-block w-lightbox"><img src="/images/bnw---girl.png" srcset="/images/bnw---girl-p-500.png 500w, /images/bnw---girl-p-800.png 800w, /images/bnw---girl.png 1341w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 248px, 225px" alt="" class="portfolio-img"><script type="application/json" class="w-json">{
  "items": [
    {
      "type": "image",
      "_id": "5cd710103d256b53a0ee2876",
      "fileName": "bnw - girl.png",
      "origFileName": "bnw - girl.png",
      "width": 1341,
      "height": 1791,
      "fileSize": 343943,
      "url": "/images/bnw---girl.png"
    }
  ],
  "group": "illustration"
}</script></a><a href="#" class="w-inline-block w-lightbox"><img src="/images/2019-06-sad-SIGN.JPG" srcset="/images/2019-06-sad-SIGN-p-500.jpeg 500w, /images/2019-06-sad-SIGN-p-800.jpeg 800w, /images/2019-06-sad-SIGN-p-1080.jpeg 1080w, /images/2019-06-sad-SIGN.JPG 2480w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 234px, 212px" alt="" class="portfolio-img"><script type="application/json" class="w-json">{
  "items": [
    {
      "width": 2480,
      "caption": "",
      "height": 3508,
      "fileName": "2019-06 sad SIGN.JPG",
      "origFileName": "2019-06 sad SIGN.JPG",
      "url": "/images/2019-06-sad-SIGN.JPG",
      "_id": "5cfd5dba4352636fa2af77ea",
      "type": "image",
      "fileSize": 660187
    }
  ],
  "group": "illustration"
}</script></a>
<!-- WF LIGHTBOX END -->
      </div>
    </div>
  </div>

<!-- 1st Secion END -->


  <div class="section">
    <div class="w-container">
      <h2>Colored Digital</h2>
      <div class="photo-wrapper"><a href="#" class="w-inline-block w-lightbox"><img src="/images/color---forced-kiss-copy.jpg" srcset="/images/color---forced-kiss-copy-p-1080.jpeg 1080w, /images/color---forced-kiss-copy-p-1600.jpeg 1600w, /images/color---forced-kiss-copy.jpg 1670w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 435px, 394px" alt="" class="portfolio-img"><script type="application/json" class="w-json">{
  "items": [
    {
      "width": 1670,
      "caption": "",
      "height": 1272,
      "fileName": "5c464bdfd9d64a17282ac923_color - forced kiss copy.jpg",
      "origFileName": "color - forced kiss copy.jpg",
      "url": "/images/color---forced-kiss-copy.jpg",
      "_id": "5c464bdfd9d64a17282ac923",
      "type": "image",
      "fileSize": 125193
    }
  ],
  "group": "illustration"
}</script></a><a href="#" class="w-inline-block w-lightbox"><img src="/images/color---polarized.jpg" srcset="/images/color---polarized-p-500.jpeg 500w, /images/color---polarized-p-1080.jpeg 1080w, /images/color---polarized-p-1600.jpeg 1600w, /images/color---polarized-p-2000.jpeg 2000w, /images/color---polarized.jpg 2043w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 442px, 400px" alt="" class="portfolio-img"><script type="application/json" class="w-json">{
  "items": [
    {
      "width": 2043,
      "caption": "",
      "height": 1532,
      "fileName": "5c465194666da867faeb01d8_color - polarized.jpg",
      "origFileName": "color - polarized.jpg",
      "url": "/images/color---polarized.jpg",
      "_id": "5c465194666da867faeb01d8",
      "type": "image",
      "fileSize": 290587
    }
  ],
  "group": "illustration"
}</script></a><a href="#" class="w-inline-block w-lightbox"><img src="/images/color---red-girl-copy.jpg" srcset="/images/color---red-girl-copy-p-1080.jpeg 1080w, /images/color---red-girl-copy.jpg 1588w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 442px, 400px" alt="" class="portfolio-img"><script type="application/json" class="w-json">{
  "items": [
    {
      "width": 1588,
      "caption": "",
      "height": 1191,
      "fileName": "5c464bfad9d64a3e632ac93c_color - red girl copy.jpg",
      "origFileName": "color - red girl copy.jpg",
      "url": "/images/color---red-girl-copy.jpg",
      "_id": "5c464bfad9d64a3e632ac93c",
      "type": "image",
      "fileSize": 165816
    }
  ],
  "group": "illustration"
}</script></a><a href="#" class="w-inline-block w-lightbox"><img src="/images/color---kiss.jpg" srcset="/images/color---kiss-p-500.jpeg 500w, /images/color---kiss-p-1080.jpeg 1080w, /images/color---kiss-p-1600.jpeg 1600w, /images/color---kiss.jpg 1961w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 442px, 400px" alt="" class="portfolio-img"><script type="application/json" class="w-json">{
  "items": [
    {
      "width": 1961,
      "caption": "",
      "height": 1470,
      "fileName": "5c465194d9d64ac7782b0863_color - kiss.jpg",
      "origFileName": "color - kiss.jpg",
      "url": "/images/color---kiss.jpg",
      "_id": "5c465194d9d64ac7782b0863",
      "type": "image",
      "fileSize": 181039
    }
  ],
  "group": "illustration"
}</script></a></div>
    </div>
  </div>

{% include components/cta.html %}