<!-- NAVBAR START -->
  <div class="global-nav-wrapper">
    <div class="w-container">
      <div class="w-layout-grid grid"><a href="/{{ page.lang }}/" id="w-node-51a7aa7c3756-aa7c3753" class="logo-link w-inline-block"><img src="https://uploads-ssl.webflow.com/5d0bf149368cb9a1ff97c1eb/5d0bf3eb074c430cff76d509_AN%20logo.svg" alt="AN Logo" class="logo-img"></a>
        <div id="w-node-51a7aa7c3758-aa7c3753" class="nav-buttons-wrapper">
          <a href="/{{ page.lang }}/work/websites.html" data-w-id="e42f4f50-d445-d1fa-8c94-51a7aa7c3759" class="global-nav-button w-inline-block">
            <div class="fa-icon fa-left"></div>
            <div class="nav-text">Sites</div>
            <div data-w-id="e42f4f50-d445-d1fa-8c94-51a7aa7c375c" class="left-line"></div>
            <div data-w-id="e42f4f50-d445-d1fa-8c94-51a7aa7c375d" class="right-line"></div>
            <div data-w-id="e42f4f50-d445-d1fa-8c94-51a7aa7c375e" class="bottom-line"></div>
            <div data-w-id="e42f4f50-d445-d1fa-8c94-51a7aa7c375f" class="top-line"></div>
          </a>
          <a href="/{{ page.lang }}/work/graphics.html" data-w-id="e42f4f50-d445-d1fa-8c94-51a7aa7c3760" class="global-nav-button w-inline-block">
            <div class="fa-icon fa-left"></div>
            <div class="nav-text">ART</div>
            <div class="left-line"></div>
            <div class="right-line"></div>
            <div class="bottom-line"></div>
            <div class="top-line"></div>
          </a>
          <a href="/{{ page.lang }}/about.html" data-w-id="e42f4f50-d445-d1fa-8c94-51a7aa7c3767" class="global-nav-button w-inline-block">
            <div class="nav-text">about</div>
            <div class="left-line"></div>
            <div class="right-line"></div>
            <div class="bottom-line"></div>
            <div class="top-line"></div>
          </a>
          <a href="/{{ page.lang }}/#contact" data-w-id="e42f4f50-d445-d1fa-8c94-51a7aa7c376e" class="global-nav-button w-inline-block">
            <div class="nav-text">Contact</div>
            <div class="left-line"></div>
            <div class="right-line"></div>
            <div class="bottom-line"></div>
            <div class="top-line"></div>
          </a>
        </div>

<!-- FLAGS START -->
{% if page.lang == 'en' %}
  <div class="nav-buttons-wrapper lang-wrapper"><a href="/gr/{{ page.ref }}" data-w-id="44eab6f2-60d2-baa3-90d3-d5e6e9eca244" class="global-nav-button flag-nav w-inline-block"><img src="/images/flag-gr.png" alt="" class="flag-2"><div style="height:0%" class="left-line"></div><div style="height:0%" class="right-line"></div><div style="width:0%" class="bottom-line"></div><div style="width:0%" class="top-line"></div></a><a href="/de/{{ page.ref }}" data-w-id="44eab6f2-60d2-baa3-90d3-d5e6e9eca24a" class="global-nav-button flag-nav w-inline-block"><img src="/images/flag-de.png" alt="" class="flag-2"><div style="height:0%" class="left-line"></div><div style="height:0%" class="right-line"></div><div style="width:0%" class="bottom-line"></div><div style="width:0%" class="top-line"></div></a></div>

{% elsif page.lang == 'de' %}
  <div class="nav-buttons-wrapper lang-wrapper"><a href="/gr/{{ page.ref }}" data-w-id="1a581168-52c6-d1cc-8d0c-4254d734ae3b" class="global-nav-button flag-nav w-inline-block"><img src="/images/flag-gr.png" alt="" class="flag-2"><div style="height:0%" class="left-line"></div><div style="height:0%" class="right-line"></div><div style="width:0%" class="bottom-line"></div><div style="width:0%" class="top-line"></div></a><a href="/de/{{ page.ref }}" data-w-id="1a581168-52c6-d1cc-8d0c-4254d734ae41" class="global-nav-button flag-nav w-inline-block"><img src="/images/flag-usa.png" alt="" class="flag-2"><div style="height:0%" class="left-line"></div><div style="height:0%" class="right-line"></div><div style="width:0%" class="bottom-line"></div><div style="width:0%" class="top-line"></div></a></div>
  <script src="https://d1tdp7z6w94jbb.cloudfront.net/js/jquery-3.3.1.min.js" type="text/javascript" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
{% elsif page.lang == 'gr' %}
  <div class="nav-buttons-wrapper lang-wrapper"><a href="/en/{{ page.ref }}" data-w-id="0c650042-b2e3-d0b4-ee01-05f4987c1f4b" class="global-nav-button flag-nav w-inline-block"><img src="/images/flag-usa.png" alt="" class="flag-2"><div style="height:0%" class="left-line"></div><div style="height:0%" class="right-line"></div><div style="width:0%" class="bottom-line"></div><div style="width:0%" class="top-line"></div></a><a href="/de/{{ page.ref }}" data-w-id="0c650042-b2e3-d0b4-ee01-05f4987c1f51" class="global-nav-button flag-nav w-inline-block"><img src="/images/flag-de.png" alt="" class="flag-2"><div style="height:0%" class="left-line"></div><div style="height:0%" class="right-line"></div><div style="width:0%" class="bottom-line"></div><div style="width:0%" class="top-line"></div></a></div>
 {% endif %}
<!-- FLAGS END -->

      </div>
    </div>
  </div>
<!-- NAVBAR END -->